<h1>設定</h1>
<h2>アカウント</h2>



<%= link_to "アカウント", users_account_path(current_user) %><br>
<%= link_to "プロフィール", user_path(current_user) %>



      <div class="Account_titile">
        <h3>アカウント</h3>
      </div>
      
      <div class="account-content">
                 
          <tr>
          <td>メールアドレス</td>
       
          </tr>

          <tr>
          <td>パスワード</td>
          </tr>
        
    
      </div>
 
      