<h1>プロフィール編集</h1>

<%= form_with model: @user do |form| %>
 
</div>
  <div>名前<%= form.text_field :name %></div>
  <div>自己紹介<%= form.text_field :profile %></div>
  <div><%= form.submit "保存" %></div>
<% end %>