<h2 class="title">予約済みルーム一覧</h2>

<table class= "table">
 <thead>
  <th>ルーム画像</th>
  <th>ルーム名</th>
  <th>ルーム紹介</th>
  <th>合計料金</th>
  <th>開始日</th>
  <th>終了日</th>
  <th>予約確定日時</th>
 </thead>
</table>

