// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*登録済みルーム画像設定*/
.image{
    width:250px;
    height: 500px;
    object-fit: cover;
    vertical-align: middle;
   }