<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare[kadai]</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <h1>Potepan Share</h1>

    

    <%# yieldの上が一般的。これはflashメッセージというもので、それぞれnotice,alertという変数に格納されています。
     ログインした際やログアウトした際、フォームの送信エラーなど簡単な通知をしたい場合に使用します。%>
    <%= yield %>
  </body>
</html>
